<br/>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Admin - Batcave</h4>
        <p class="card-text">This page is reserved for Batman (obviously)</p>
    </div>
</div>

<br/>

<div id="Batcave">

</div>