<br/>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Watchtower Portal</h4>
        <p class="card-text">Welcome to the Justice League, <b>{{session.username}}</br></p>
    </div>
</div>
<br/><br/>
<img src="/static/img/Justice-League-DC-Watchtower-Fan-Art.jpg" class="img-fluid"></img>