<div class="alert alert-danger">
    <i class="fa fa-times"></i> You must be a member of the Justice League to view this site
</div>

<form action="/login">
<div class="form-group">
    <label for="inputSuperheroName">Superhero Name</label>
    <input type="text" class="form-control" id="inputSuperheroName">
</div>
<div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword">
</div>
<button type="submit" class="btn btn-primary">Login</button>
</form>
<br/></br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">New member?</h5>
        <p class="card-text">Welcome! Please register yourself and your secret identity to get started</p>
        <a href="/register" class="card-link">Register</a>
    </div>
</div>