<br/>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Oracle - Query</h4>
        <p class="card-text">This form will let you tap into Oracle's database on all known Justice League heroes. Enter a search term for real time filtering!</p>
    </div>
</div>

<br/>

<div id="Heroes">

</div>


