<br/>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Oracle - Query</h4>
        <p class="card-text">This form will let you tap into Oracle's database on all known Justice League heroes. Enter a search term for real time filtering!</p>
    </div>
</div>

<br/>

<div id="heroes_container">

</div>


 <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="/static/js/heroes.jsx" type="text/babel"></script>
