<br/>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Secret Key</h4>
        <p class="card-text">This is your super secret key which will get you into all Justice League bases. Don't lose this whatever you do!</p>
        <a href="javascript:fetchKey()" class="card-link" id="fetchKey">Fetch Key</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="keyModal" tabindex="-1" role="dialog" aria-labelledby="secretKeyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Secret Key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="keyValue">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
function fetchKey() {
    fetch('/api/secretkey')
    .then(response => response.json())
    .then(data => {
        var key = data.secretKey;
        $('#keyValue').text(key);
        $('#keyModal').modal('toggle');
    })
    .catch(error => {
        console.error("Problem fetching key: ", error);
    })
}
</script>